<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="project/spring/kakao/sql/testSql.xml" />
		<mapper resource="project/spring/main/sql/testSql.xml" />
		<mapper resource="project/spring/module02/sql/testSql.xml" />
		<mapper resource="project/spring/module03/sql/testSql.xml" />
		<mapper resource="project/spring/module04/sql/testSql.xml" />
		<mapper resource="project/spring/module05/sql/testSql.xml" />
	</mappers>
</configuration>
