<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- jdbcTypeForNull : TypeException이 발생하지 않도록 한번에 세팅하는 방법 -->
	<!-- mapUnderscoreToCamelCase = true : 컬럼 명에 _ 가 있으면 카멜케이스로 변경해줌 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="project.spring.product.vo.ProductVo" alias="productvo"/>
		<typeAlias type="project.spring.product.vo.OrderVo" alias="ordervo"/>
		<typeAlias type="project.spring.admin.vo.AdminVO" alias="AdminVO"/>
		<typeAlias type="project.spring.beans.LowerHashMap" alias="camelmap" />
		<typeAlias type="project.spring.article.vo.ArticleDTO" alias="ArticleDTO"/>
		<typeAlias type="project.spring.myAct.vo.MyLikeDTO" alias="MyLikeDTO"/>
		<typeAlias type="project.spring.myAct.vo.MyTitleDTO" alias="MyTitleDTO"/>
		<typeAlias type="project.spring.member.vo.MemberDTO" alias="memberDTO" />
	</typeAliases> 
	<mappers>
		<mapper resource="project/spring/kakao/sql/testSql.xml" />
		<mapper resource="project/spring/main/sql/testSql.xml" />
		<mapper resource="project/spring/admin/sql/adminSql.xml" />
		<mapper resource="project/spring/myAct/sql/myActSql.xml" />
		<mapper resource="project/spring/drink/sql/drinkSql.xml" />
		<mapper resource="project/spring/member/sql/memberSql.xml" />
		<mapper resource="project/spring/product/sql/productSQL.xml" />
		<mapper resource="project/spring/adminEvent/sql/adminEventSql.xml" />
	</mappers>
</configuration>