<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="test.spring.model.TestDTO" alias="TestDTO"/>
		<typeAlias type="test.spring.mybatis.TestMybatisDTO" alias="TestMybatisDTO"/>
		<typeAlias type="member.model.dto.MemberDTO" alias="MemberDTO"/>
	</typeAliases>
	<mappers>
		<mapper resource="/sql/testSql.xml" />
		<mapper resource="/sql/mybatisSQL.xml" />
		<mapper resource="/sql/memberSQL.xml" />
	</mappers>
</configuration>
